Django==4.1.7
psycopg2-binary==2.9.5
python-dotenv==1.0.0
whitenoise==6.3.0
django-widget-tweaks
Pillow
opencensus
opencensus-ext-logging
opencensus-ext-azure
opencensus-extension-azure-functions
opencensus-ext-requests