Django==4.1.7
psycopg2-binary==2.9.5
python-dotenv==0.21.1
whitenoise==6.3.0
django-widget-tweaks
django-storages[azure]
Pillow
opencensus
opencensus.ext.django
opencensus-ext-logging
opencensus-ext-azure
opencensus-extension-azure-functions
opencensus-ext-requests
opencensus.ext.postgresql