{% extends '_base.html' %}

{% load static %}


{% block title %}Home{% endblock %}
{% block content %}

<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="background-image: url({% static '/assets/banner.jpg' %})">
    <div class="text-left my-5 ps-5 bg-gradient-transparent">
        <h1 class="py-4 fs-3 quote text-black-80">"30 Years Experience Repairing Frames"</h1>
    </div>
</header>

<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h4>Shayne Pruden can provide an independent, non-biased estimate for 
                    frame and suspension repairs</h4>
                <p>Shayne has 39 years of experience in the automotive industry and has been strictly doing frame and 
                    suspension repairs for the last 36 years.</p> 
                <p>He is familiar with several different measuring systems including 
                    Eclipse and Genesis.</p>
                <p>He has worked extensively in the last 15 years estimating frame times for body 
                    shops and insurance companies throughout Canada and the US</p>
                <p>He is a status member of the First Nations Society of Vancouver Island and has worked with the 
                    Squamish Nation and Cowichan Tribes</p>
            </div>
        </div>
    </div>
</section>

<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>

{% endblock %}