{% extends '_base.html' %}

{% load static %}


{% block title %}Home{% endblock %}
{% block content %}

<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="background-image: url({% static '/assets/banner.jpg' %})">
    <div class="text-left my-5 ps-5 bg-gradient-transparent">
        <h1 class="fs-3 quote text-black-80">"30 Years Expierence Repairing Frams"</h1>
        <p class="text-black mb-0">Landing Page Template</p>
    </div>
</header>

<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Full Width Backgrounds</h2>
                <p class="lead">A single, lightweight helper class allows you to add engaging, full width background images to sections of your page.</p>
                <p class="mb-0">The universe is almost 14 billion years old, and, wow! Life had no problem starting here on Earth! I think it would be inexcusably egocentric of us to suggest that we're alone in the universe.</p>
            </div>
        </div>
    </div>
</section>

<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
            </div>
        </div>
    </div>
</section>

{% endblock %}